section[data-role="page"]{
    background: black !important;
}

div[data-role="header"]{
    text-align: center;
    height: 11%;
    z-index: 998;
}

div[data-role="header"] h1{
    font-size: 120% !important;
    margin-top: 2% !important;
    margin-bottom: 0 !important;
}

.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #8999A6;
}

.dot-active{
    background-color: white;
}

#playerPopup, #playlistPopup, #playlistItemPopup, #itemPopup, #settingsPopup{
    z-index: 999;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: none;
    text-align: center;
}

a.wp8-styled-button{
    display: block;
    border: 2px solid white !important;
    border-radius: 0;
    text-decoration: none !important;
    text-align: center;
    color: white !important;
    height: 6%;
    padding-top: 3%;
    margin-top: 5%;
}

span.ui-btn-inner{
    outline: none !important;
    border: 0px !important;
}

div[data-role="header"] a[data-role="cus-button"]{
    background-size: 95% !important;
    background-repeat: no-repeat;
    background-color: transparent;
    
    display: inline-block !important;
    min-height: 64% !important;
    min-width: 8% !important;
    
    border: 0px !important;
    border-radius: 0 !important;
    text-decoration: none;
    box-shadow: none;
}

a.home{
    background-image: url(../images/home.png);
}

a#options{
    background-image: url(../images/options.png);
}

#playlist #options{
    margin-left: 85%;
}

div[data-role="content"]{
    font-size: 120%;
}

#controls-left{
    display: block;
    margin-top: 6%;
    float: left;
    width: 15%;
}

#controls-left a[data-role="cus-button"]:not(:first-child){
    margin-top: 10px;
}

#controls-left a[data-role="cus-button"]{
    position: relative;
    background-size: 95% !important;
    background-repeat: no-repeat;
    background-color: transparent;

    display: block !important;
    height: 40px;
    width: 40px;

    left: 0;
    right: 0;
    margin: auto;

    border: 0px !important;
    border-radius: 0 !important;
    outline: none !important;
    text-decoration: none;
}

a.repeat{
    background-image: url(../images/repeat-once.png);
    background-size: 100% !important;
}

a.re-active{ /*Otherwise indexOf will make trouble*/
    background-image: url(../images/repeat-once-active.png);
    background-size: 100% !important;
}

a.repeat-all{
    background-image: url(../images/repeat-all.png);
    background-size: 100% !important;    
}

a.re-all-active{ /*Otherwise indexOf will make trouble*/
    background-image: url(../images/repeat-all-active.png);
    background-size: 100% !important;    
}

a.random{
    background-image: url(../images/shuffle.png);
    background-size: 100% !important;
}

a.ra-active{ /*Otherwise indexOf will make trouble*/
    background-image: url(../images/shuffle-active.png);
    background-size: 100% !important;
}

#cover{
    height: 150px;
    width: 58%;

    margin: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

    background-color: black;
    outline: none;
    border-color: white;
    box-shadow: 0 0 15px white;

    float: left;
}

#controls-right{
    display: block;
    margin-top: 7%;
    float: left;
    width: 15%;
}

div#controls-right a[data-role="cus-button"]{
    position: relative;
    background-size: 90% !important;
    background-repeat: no-repeat;
    background-color: transparent;
    
    display: block !important;
    height: 40px;
    width: 40px;

    left: 0;
    right: 0;
    margin: auto;
    
    border: 0;
    border-radius: 0 !important;

    text-decoration: none;
}

p#volume{
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a#volume-down{
    background-image: url(../images/volume-down.png);    
}

a#volume-up{
    background-image: url(../images/volume-up.png);    
}

#position{
    position: relative;
    display: block;
    clear: both;
    margin-top: 200px;
}

#position .ui-slider{
    margin-left: -50px;
}

#position #currentTime{
    display: inline;
    float: left;
}

#position #totalTime{
    display: inline;
    float: right;
}

#details{
    display: block;
    clear: both;
    padding-top: 10%;
}

#details table tr td h2{
    font-size: 100%;
    margin: 0;
    margin-right: 20px;
}

#details p{
    display: inline;
}

#playlistPopup a[data-role=button]{
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5%;
}

ul#filelist, ul#playlistfiles{
	max-width: 90% !important;
	overflow: hidden;
}

div.ui-btn{
    border: 2px solid white !important;
    border-radius: 0;
}

#faq{
    background-color: black;
    box-shadow: inset 0px 2px 4px 2px;

    width: 80%;
    height: 100%;

    left: 0;
    right: 0;
    margin: auto;

    margin-top: 10%;

    padding: 5%;
}

#faq h1{
    margin: 4%;
    margin-left: 0;
}

#faq .imgExp{
    display: inline;
}

#faq .icon{
    height: 30px;
    width: 30px;
}

div[data-role="footer"]{
    text-align: center;
    height: 10%;
    padding: 0;
    z-index: 998;
}

div[data-role="footer"] a[data-role="cus-button"]:not(:last-child){
    margin-right: 10% !important;    
}

div[data-role="footer"] a[data-role="cus-button"]{
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-color: transparent;
    
    display: inline-block !important;
    height: 60%;
    width: 10%;
    margin-top: 2% !important;
    
    border: 0;
    border-radius: 0 !important;
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

a.previous{
    background-image: url(../images/previous.png);    
}

a.play{
    background-image: url(../images/play.png);
}

a.pause{
    background-image: url(../images/pause.png);
}

a.stop{
    background-image: url(../images/stop.png);
}

a.forward{
    background-image: url(../images/forward.png);    
}