section[data-role="page"]{
    background: black !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-fixed-hidden{
    position: relative !important;
    top: 0 !important;
    padding: 0 !important;
}

.ui-header-fixed{
    position: fixed !important;
    top: -1px !important;
    padding-top: 1px !important;
}

.ui-header{
    position: fixed !important;
}

.centered{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa{
    color: white !important;
    text-decoration: none;
    text-align: center;
}

.fa-active{
    color: green !important;
    text-decoration: none;
    text-align: center;
}

div[data-role="header"]{
    text-align: center;
    overflow: auto;
    min-height: 8%;
    z-index: 998;
}

div[data-role="header"] h1{
    font-size: 120% !important;
    margin-top: 2% !important;
    margin-bottom: 0 !important;
}

div[data-role="content"]{
    font-size: 100% !important;
}

div[data-role="content"]:not(#player){
    margin-bottom: 20%;
}

#player{
    -ms-touch-action: none;
}

.dots{
    padding-top: 2%;
    clear: both;
}

.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #8999A6;
}

.dot-active{
    background-color: white;
}

#playerPopup, #playlistLoadingPopup, #playlistOptionsPopup, #playlistItemPopup, #libraryLoadingPopup, #itemPopup, #settingsPopup{
    z-index: 999;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: none;
    text-align: center;
}

.spinner{
  width: 50px;
  height: 50px;
  border: solid #FFFFFF ;
  border-width: 3px 0px 0px 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;

  -webkit-animation: spin 0.5s infinite linear;
     -moz-animation: spin 0.5s infinite linear;
       -o-animation: spin 0.5s infinite linear;
          animation: spin 0.5s infinite linear;
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}

@keyframes spin{
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

#libraryAddTitleMessage, #librarySetHomeMessage{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;

    padding-top: 5%;

    display: none;
    text-align: center;
}

a.wp8-styled-button{
    display: block;
    border: 2px solid white !important;
    border-radius: 0;
    text-decoration: none !important;
    color: white !important;
    height: 6%;
    margin: 5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span.ui-btn-inner{
    outline: none !important;
    border: 0px !important;
}

div[data-role="header"] i[data-role="cus-button"]{
    float: left;
    width: 8%;
}

div[data-role="header"] h1{
    margin: 0 !important;
    margin-top: 2% !important;
    width: 84% !important;
    float: left;
}

div[data-role="header"] h1:first-child{
    margin: 0 !important;
    margin-top: 2% !important;
    width: 100% !important;
    float: left;
}

#options {
    float: right;
}

#faqAnchor{
    float: right;
}

#controls-left a.fa, #controls-right a.fa{
    display: block;
    padding: 20% 0;
}

#controls-left{
    display: block;
    float: left;
    width: 15%;
}

#controls-left a[data-role="cus-button"]:not(:first-child){
    margin-top: 10px;
}

#cover{
    height: 160px;
    width: 160px;

    margin: auto;
    margin-left: 7%;
    margin-right: 7%;
    float: left;

    background-color: black;

    box-shadow: 0 0 15px white;
}

#controls-right{
    display: block;
    float: left;
    width: 15%;
}

p#volume{
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#controls-bottom{
    display: block;
    clear: both;
    width: 100%;
}

#position{
    position: relative;
    width: 100%;
    display: block;
    clear: both;
}

#position .ui-slider{
    margin-left: -56px;
}

#position .ui-slider-track{
    border: 1px solid grey;
}

#position #currentTime{
    display: inline;
    float: left;
}

#position #totalTime{
    display: inline;
    float: right;
}

#details{
    display: block;
    clear: both;
    padding-top: 5%;
}

#details table tr td h2{
    font-size: 100%;
    margin: 0;
    margin-right: 20px;
}

#details p{
    display: inline;
}

#playlistPopup a[data-role=button]{
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5%;
}

ul#filelist, ul#playlistfiles{
	max-width: 90% !important;
	overflow: hidden;
}

div.ui-btn{
    border: 2px solid white !important;
    border-radius: 0;
}

#faq{
    background-color: black;
    box-shadow: inset 0px 2px 4px 2px;

    width: 80%;
    height: 100%;

    left: 0;
    right: 0;
    margin: auto;

    margin-top: 10%;

    padding: 5%;
}

#faq h1{
    margin: 4%;
    margin-left: 0;
}

#faq .imgExp{
    display: inline;
}

#faq li{
    padding: 2%;
}

div[data-role="footer"]{
    text-align: center;
    overflow: auto;
    min-height: 8%;
    padding: 2;
    z-index: 998;
}

div[data-role="footer"] i[data-role="cus-button"]:not(:last-child){
    margin-right: 10% !important;    
}

div[data-role="footer"] i[data-role="cus-button"]{
    display: inline-block !important;
    height: 60%;
    width: 10%;
}